body {
background-color: lightgray;
margin: 0;
}

.header {
    background-color: gray;
height: 15vh;
width: 100%;
}

.footer {
    background-color: black;
    height: 10vh;
    width: 75vw;
    margin-left: 12.5vw;
}

.main {
background-color: white;
margin: auto;
height: 75vh;
width: 75vw;
}
